In [1]:
#importação de bibliotecas
import numpy as np
import pandas as pd
from sklearn.utils import shuffle
from scipy.stats import norm
import math
from collections import Counter
from scipy.stats import t

In [2]:
#criação do dataframe
df = pd.read_csv("cnes_ativonone.csv", skiprows = 1, names =["Cnes", "Ibge", "Unidade", "TipoUnidade", "TipoGestao", "Rua", "Numero", "Bairro", "CEP", "Estado", "Cidade", "Telefone"])

In [3]:
#leitura do arquivo
df

,Cnes,Ibge,Unidade,TipoUnidade,TipoGestao,Rua,Numero,Bairro,CEP,Estado,Cidade,Telefone
0,6577687,292240,SECRETARIA DE SAUDE DE MUTUIPE,CENTRAL DE GESTAO EM SAUDE,M,RUA RUY BARBOSA,S/N,CENTRO,45480000,BA,Mutuípe,NaN
1,6578500,500210,REABILIT CONSULTORIO DE FISIOTERAPIA,CLINICA/CENTRO DE ESPECIALIDADE,M,ALMIRANTE BARROSO,S/N,CENTRO,79260000,MS,Bela Vista,NaN
2,6577725,355660,SECRETARIA MUNICIPAL DE SAUDE E HIGIENE DE VER...,CENTRAL DE GESTAO EM SAUDE,M,RUA PAULO GUERREIRO FRANCO,997,CENTRO,17560000,SP,Vera Cruz,NaN
3,6577733,355410,CONS SERGIO LUIZ TEIXEIRA M PERES,CONSULTORIO ISOLADO,M,PCA MONS SILVA BARROS,254,CENTRO,12020070,SP,Taubaté,36351489
4,6577768,410490,LABORATORIO DOFF SOTTA,UNIDADE DE APOIO DIAGNOSE E TERAPIA (SADT ISOL...,M,RUA DR JORGE XAVIER DA SILVA,1078,CENTRO,84165000,PR,Castro,3232-4854
...,...,...,...,...,...,...,...,...,...,...,...,...
354799,3412113,320530,JOAO LUIZ DE MORAES,CONSULTORIO ISOLADO,M,AV DESEMBARGADOR DEMERVAL LYRIO,640,MATA DA PRAIA,29065340,ES,Vitória,(27)33256901
354800,3412148,355030,KRUSEN DIAGNOSTICOS,UNIDADE DE APOIO DIAGNOSE E TERAPIA (SADT ISOL...,M,RUA ARLINDO COLACO,176,SAO MIGUEL PAULISTA,8010010,SP,São Paulo,NaN
354801,3412199,320530,MARIA IGNEZ MIGUEZ DE MENEZES,CONSULTORIO ISOLADO,M,RUA FERREIRA COELHO,330,ENSEADA DO SUA,29052210,ES,Vitória,(27)33240488
354802,3412202,320530,ADRIANE PAIVA COCK DA CUNHA LIMA,CONSULTORIO ISOLADO,M,RUA FERREIRA COELHO,330,PRAIA DO SUA,29052901,ES,Vitória,(27)33459596
354803,3412229,320530,EQUILIBRIO FISIOTERAPIA E REABILITACAO,CLINICA/CENTRO DE ESPECIALIDADE,E,RUA JOSE ALEXANDRE BUAIZ,160,ENSEADA DO SUA,29050680,ES,Vitória,(27)32351857

In [4]:
#verificaçao de dados nulos
df.isnull()

,Cnes,Ibge,Unidade,TipoUnidade,TipoGestao,Rua,Numero,Bairro,CEP,Estado,Cidade,Telefone
0,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
354799,False,False,False,False,False,False,False,False,False,False,False,False
354800,False,False,False,False,False,False,False,False,False,False,False,True
354801,False,False,False,False,False,False,False,False,False,False,False,False
354802,False,False,False,False,False,False,False,False,False,False,False,False
354803,False,False,False,False,False,False,False,False,False,False,False,False

In [5]:
#remoção de linhas duplicadas
df.drop_duplicates()

,Cnes,Ibge,Unidade,TipoUnidade,TipoGestao,Rua,Numero,Bairro,CEP,Estado,Cidade,Telefone
0,6577687,292240,SECRETARIA DE SAUDE DE MUTUIPE,CENTRAL DE GESTAO EM SAUDE,M,RUA RUY BARBOSA,S/N,CENTRO,45480000,BA,Mutuípe,NaN
1,6578500,500210,REABILIT CONSULTORIO DE FISIOTERAPIA,CLINICA/CENTRO DE ESPECIALIDADE,M,ALMIRANTE BARROSO,S/N,CENTRO,79260000,MS,Bela Vista,NaN
2,6577725,355660,SECRETARIA MUNICIPAL DE SAUDE E HIGIENE DE VER...,CENTRAL DE GESTAO EM SAUDE,M,RUA PAULO GUERREIRO FRANCO,997,CENTRO,17560000,SP,Vera Cruz,NaN
3,6577733,355410,CONS SERGIO LUIZ TEIXEIRA M PERES,CONSULTORIO ISOLADO,M,PCA MONS SILVA BARROS,254,CENTRO,12020070,SP,Taubaté,36351489
4,6577768,410490,LABORATORIO DOFF SOTTA,UNIDADE DE APOIO DIAGNOSE E TERAPIA (SADT ISOL...,M,RUA DR JORGE XAVIER DA SILVA,1078,CENTRO,84165000,PR,Castro,3232-4854
...,...,...,...,...,...,...,...,...,...,...,...,...
354799,3412113,320530,JOAO LUIZ DE MORAES,CONSULTORIO ISOLADO,M,AV DESEMBARGADOR DEMERVAL LYRIO,640,MATA DA PRAIA,29065340,ES,Vitória,(27)33256901
354800,3412148,355030,KRUSEN DIAGNOSTICOS,UNIDADE DE APOIO DIAGNOSE E TERAPIA (SADT ISOL...,M,RUA ARLINDO COLACO,176,SAO MIGUEL PAULISTA,8010010,SP,São Paulo,NaN
354801,3412199,320530,MARIA IGNEZ MIGUEZ DE MENEZES,CONSULTORIO ISOLADO,M,RUA FERREIRA COELHO,330,ENSEADA DO SUA,29052210,ES,Vitória,(27)33240488
354802,3412202,320530,ADRIANE PAIVA COCK DA CUNHA LIMA,CONSULTORIO ISOLADO,M,RUA FERREIRA COELHO,330,PRAIA DO SUA,29052901,ES,Vitória,(27)33459596
354803,3412229,320530,EQUILIBRIO FISIOTERAPIA E REABILITACAO,CLINICA/CENTRO DE ESPECIALIDADE,E,RUA JOSE ALEXANDRE BUAIZ,160,ENSEADA DO SUA,29050680,ES,Vitória,(27)32351857

In [6]:
#Contagem de valores em cada coluna
df.groupby("Estado").count()

,Cnes,Ibge,Unidade,TipoUnidade,TipoGestao,Rua,Numero,Bairro,CEP,Cidade,Telefone
Estado,,,,,,,,,,,
AC,1038,1038,1038,1038,1038,1038,1036,1038,1038,1038,831
AL,3756,3756,3756,3756,3756,3756,3754,3756,3756,3756,2046
AM,2752,2752,2752,2752,2752,2752,2747,2750,2752,2752,2065
AP,683,683,683,683,683,683,683,683,683,683,441
BA,18622,18622,18622,18622,18622,18622,18618,18622,18622,18622,14067
CE,12413,12413,12413,12413,12413,12413,12412,12413,12413,12413,9886
DF,6324,6324,6323,6324,6324,6324,6139,6324,6324,6324,5334
ES,7834,7834,7834,7834,7834,7834,7834,7834,7834,7834,6897
GO,10560,10560,10560,10560,10560,10560,10555,10560,10560,10560,8647
MA,5977,5977,5977,5977,5977,5977,5977,5977,5977,5977,3465
MG,44499,44499,44499,44499,44499,44499,44490,44499,44499,44499,34242
MS,5367,5367,5367,5367,5367,5367,5366,5367,5367,5367,4079
MT,6579,6579,6579,6579,6579,6579,6577,6579,6579,6579,5282
PA,7603,7603,7602,7603,7603,7603,7599,7603,7603,7603,4486
PB,6658,6658,6658,6658,6658,6658,6654,6658,6658,6658,4611
PE,10217,10217,10217,10217,10217,10217,10213,10217,10217,10217,7067
PI,4315,4315,4315,4315,4315,4315,4312,4315,4315,4315,2774
PR,26588,26588,26588,26588,26588,26588,26584,26587,26588,26588,22963
RJ,26632,26632,26630,26632,26632,26632,26629,26632,26632,26632,21497
RN,4892,4892,4892,4892,4892,4892,4888,4892,4892,4892,3349
RO,3308,3308,3308,3308,3308,3308,3308,3308,3308,3308,2239
RR,933,933,933,933,933,933,933,933,933,933,382
RS,27032,27032,27030,27032,27032,27032,27025,27032,27032,27032,20677
SC,18020,18020,18020,18020,18020,18020,18014,18020,18020,18020,14787
SE,3857,3857,3857,3857,3857,3857,3856,3857,3857,3857,2636
SP,85931,85931,85929,85931,85931,85931,85926,85931,85931,85931,72698
TO,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,1601

In [7]:
df.count()

Cnes           354804
Ibge           354804
Unidade        354796
TipoUnidade    354804
TipoGestao     354804
Rua            354804
Numero         354517
Bairro         354801
CEP            354804
Estado         354434
Cidade         354434
Telefone       279394
dtype: int64

In [8]:
#Percentual de Unidades no Estado de São Paulo
unidadeTotal = 354796
unidadeSP = 85929
PercentualSP = unidadeSP/unidadeTotal * 100
print(PercentualSP)

24.219269664821475

In [9]:
#lista de Estados
df["Estado"] = df.Estado.astype("category")
listaEstados = df["Estado"].cat.categories.tolist()
listaEstados

['AC',
 'AL',
 'AM',
 'AP',
 'BA',
 'CE',
 'DF',
 'ES',
 'GO',
 'MA',
 'MG',
 'MS',
 'MT',
 'PA',
 'PB',
 'PE',
 'PI',
 'PR',
 'RJ',
 'RN',
 'RO',
 'RR',
 'RS',
 'SC',
 'SE',
 'SP',
 'TO']

In [10]:
#Tipos de Unidades de Gestao
df["TipoGestao"] = df.TipoGestao.astype("category")
listaTipoGestao = df["TipoGestao"].cat.categories.tolist()
listaTipoGestao

['D', 'E', 'M', 'S']

In [11]:
#Contagem Tipos de Unidade/Gestao
df.groupby("TipoGestao").count()

,Cnes,Ibge,Unidade,TipoUnidade,Rua,Numero,Bairro,CEP,Estado,Cidade,Telefone
TipoGestao,,,,,,,,,,,
D,6381,6381,6381,6381,6381,6378,6381,6381,6375,6375,5634
E,16612,16612,16611,16612,16612,16413,16612,16612,16327,16327,13744
M,331709,331709,331702,331709,331709,331626,331706,331709,331630,331630,259952
S,102,102,102,102,102,100,102,102,102,102,64

In [12]:
#Total de Unidades Tipo "M"
totalUnidades = 354804
tipoUnidadesM = 331702
percentualUnidadesTipoM = tipoUnidadesM/totalUnidades * 100
percentualUnidadesTipoM

93.48879944983709

In [13]:
#Amostragem
populacao = shuffle(df)
populacao.head()

,Cnes,Ibge,Unidade,TipoUnidade,TipoGestao,Rua,Numero,Bairro,CEP,Estado,Cidade,Telefone
123042,3060071,291080,CCVE,HOSPITAL/DIA - ISOLADO,M,RUA JURACY MARGALHAES,752,PONTO CENTRAL,44075115,BA,Feira de Santana,7530235353
13722,6967965,351300,SAMU 192 BASE DESCENTRALIZADA COTIA,UNIDADE MOVEL DE NIVEL PRE-HOSPITALAR NA AREA ...,M,AVENIDA SANTO ANTONIO,41,VILA SANTO ANTONIO D,6716710,SP,Cotia,11-41485043
344232,3070905,330455,CLINICA DE PERINATOLOGIA,HOSPITAL GERAL,M,AV VENEZUELA,153,CENTRO,20081311,RJ,Rio de Janeiro,(21)25185797
342195,3011615,260515,UBS OZEAS OTAVIANO DE SOUZA,CENTRO DE SAUDE/UNIDADE BASICA,M,POVOADO DE LAGOA DE FORA,16,ZONA RURAL,56355000,PE,Dormentes,(81)38612237
174073,3625575,313170,MARIA MORGANA MOREIRA,CONSULTORIO ISOLADO,M,RUA AGUA SANTA,414,CENTRO,35900001,MG,Itabira,NaN

In [14]:
lista_populacao = []
lista_tamanhos =[]
for Estado in listaEstados:
  lista_populacao.append(populacao.loc[populacao.Estado == Estado,:])
  lista_tamanhos.append(len(populacao.loc[populacao.Estado == Estado,:]))

lista_populacao[25].head() #dataframe apenas com as instituições do Sao Paulo (https://colab.research.google.com/drive/1P-qHDt9-zIQNpKgpy9nVDUN7ZqkF-ZmI#scrollTo=cI0mRmD-kvUw)

,Cnes,Ibge,Unidade,TipoUnidade,TipoGestao,Rua,Numero,Bairro,CEP,Estado,Cidade,Telefone
13722,6967965,351300,SAMU 192 BASE DESCENTRALIZADA COTIA,UNIDADE MOVEL DE NIVEL PRE-HOSPITALAR NA AREA ...,M,AVENIDA SANTO ANTONIO,41,VILA SANTO ANTONIO D,6716710,SP,Cotia,11-41485043
295702,6543162,355030,UNIDADE MOVEL DE NIVEL PRE HOSP SANTA MARIA,UNIDADE MOVEL DE NIVEL PRE-HOSPITALAR NA AREA ...,M,AVENIDA CONCEICAO,2758,VILA MARIA,2135000,SP,São Paulo,34453327
19340,7117132,355280,CCZ CENTRO DE CONTROLE DE ZOONOSES,UNIDADE DE VIGILANCIA EM SAUDE,M,RUA VICTOR CAMPISI,250,PARQUE INDUSTRIAL DA,6766430,SP,Taboão da Serra,(011) 47863287
197404,6020666,354340,ODONTOLOGICO SECRETARIA MUNICIPAL ESPORTES DE ...,CONSULTORIO ISOLADO,M,RUA CAMILO DE MATOS,627,JD MOSTEIRO,14085340,SP,Ribeirão Preto,(16) 3625 7891
84554,7253125,355030,GREEN MED,CONSULTORIO ISOLADO,M,RUA ITAPURA,300,TATUAPE,3310000,SP,São Paulo,11 23613233

In [15]:
# Definições gerais
Margem_Erro_Municipais = 0.05

Grau_Confianca = 0.95

In [16]:
def calcula_intervalo_proporcao(amostra, confianca, valor, tamanho_populacao):
    tamanho_amostra = len(amostra)
    
    proporcao_valor = Counter(amostra)[valor]/tamanho_amostra
    
    numero_desvios = calcula_Z_tstudent(confianca, tamanho_amostra)

    margem_erro = numero_desvios*np.sqrt(proporcao_valor*(1-proporcao_valor))/np.sqrt(tamanho_amostra)
    
    if tamanho_amostra>0.05*tamanho_populacao:
        margem_erro = margem_erro * (np.sqrt(tamanho_populacao-tamanho_amostra)/np.sqrt(tamanho_populacao-1))

    inferior = proporcao_valor-margem_erro
    superior = proporcao_valor+margem_erro

    return inferior,superior

In [17]:
# Recupera amostra da população

def recupera_amostra(populacao, tamanho_amostra):
    tamanho_amostra = int(tamanho_amostra)
    if type(populacao) is pd.DataFrame:
        return populacao.sample(tamanho_amostra)
    else:
        #return populacao[np.random.randint(0, len(populacao), tamanho_amostra)]
        return [populacao[i] for i in np.random.randint(0, len(populacao), tamanho_amostra)]

In [18]:
# Definições específicas 
Tamanho_Amostra = 50
amostra = recupera_amostra(populacao, Tamanho_Amostra)
Proporcao_Municipais_Amostra = sum(amostra.TipoGestao == 'M')/Tamanho_Amostra
print('Amostra {}, Proporção Municipais: {}'.format(Tamanho_Amostra, Proporcao_Municipais_Amostra))

Amostra 50, Proporção Municipais: 0.92

In [19]:
# Calcula número de desvios na distribuição normal para determinada confianca


def calcula_Z_normal(confianca):
    mean = 0
    std = 1
    rv = norm(loc=mean, scale=std)
    return rv.interval(confianca)[1]

In [20]:
# Função para cálculo do número de amostras para proporções simples

def Tamanho_Amostra_Proporcao_Simples(Tamanho_Populacao, Numero_Desvios, Proporcao, Margem_Erro):
    return math.ceil( 
            (Tamanho_Populacao * math.pow(Numero_Desvios,2) * Proporcao * (1-Proporcao)) / \
            ( (Tamanho_Populacao-1)*math.pow(Margem_Erro,2) + math.pow(Numero_Desvios,2)*Proporcao*(1-Proporcao) )
            )

In [21]:
Tamanho_Populacao = len(populacao)

z = calcula_Z_normal(Grau_Confianca)

Tamanho_Amostra_Municipais = Tamanho_Amostra_Proporcao_Simples(
    Tamanho_Populacao,
    z,
    Proporcao_Municipais_Amostra,
    Margem_Erro_Municipais
)

Tamanho_Amostra_Municipais

114

In [22]:
# Calcula número de desvios na distribuição t de student para determinada confianca


def calcula_Z_tstudent(confianca, tamanho_amostra):
    mean = 0
    std = 1
    rv = t(df=(tamanho_amostra-1))
    return rv.interval(confianca)[1]

In [23]:
amostraMunicipais = recupera_amostra(populacao, Tamanho_Amostra_Municipais)
amostraMunicipais = amostraMunicipais.TipoGestao

In [24]:
confianca = 0.95

inferior,superior = calcula_intervalo_proporcao(amostraMunicipais, confianca, 'M', Tamanho_Populacao)
print('Intervalo da média {} {}'.format(inferior,superior))

Intervalo da média 0.8940506006684189 0.9831423817877215

In [25]:
#Amostragem estratificada

lista_proporcoes = []

for tamanho_uf in lista_tamanhos:
  lista_proporcoes.append(tamanho_uf/Tamanho_Populacao)

lista_proporcoes

[0.0029255589001251393,
 0.010586126424730273,
 0.007756395080100563,
 0.0019250064824522836,
 0.052485315836349085,
 0.034985513128375105,
 0.017823925322149693,
 0.022079796169152545,
 0.029762911353874252,
 0.01684592056459341,
 0.12541854094091387,
 0.01512666148070484,
 0.018542631988365407,
 0.02142873248328655,
 0.01876529013201655,
 0.02879618042637625,
 0.012161644175375701,
 0.07493714839742506,
 0.0750611605280662,
 0.013787894161283412,
 0.009323457458202275,
 0.0026296208610951397,
 0.07618854353389477,
 0.050788604412577085,
 0.010870790633701988,
 0.24219287268463716,
 0.005760927159783993]

In [26]:
for i in range(len(lista_populacao)):
  amostra = recupera_amostra(lista_populacao[i], lista_proporcoes[i]*Tamanho_Amostra_Municipais)
  if i == 0:
    amostraMunicipais = amostra
  else:
    amostraMunicipais = pd.concat([amostraMunicipais,amostra])

amostraMunicipais = amostraMunicipais.TipoGestao
len(amostraMunicipais)

101

In [27]:
confianca = 0.95

inferior,superior = calcula_intervalo_proporcao(amostraMunicipais, confianca, 'M', Tamanho_Populacao)
print('Intervalo da média {} {}'.format(inferior,superior))

Intervalo da média 0.9076723549438752 0.9933177440660257

In [28]:
print('Margem de erro {}'.format((superior-inferior)/2))

Margem de erro 0.042822694561075236